{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <style="text-align:center; font-family:google-sans;">Number of shares to buy:</style>

        <div class="form-group">
            <input autocomplete="off" class="form-control" name="shares" placholder="Shares" type="number" min = "1">
        </div>
        <button class="btn btn-primary" name="button" type="submit">Buy</button>
    </form>

{% endblock %}